body {
  background-image: url("background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}


.container{
  width: 1000px;
  margin: auto;
  background-color: rgba(0, 0, 0, 0.3);
  border-radius: 25px;
  margin-top: 25px;
  padding: 50px;
}

.logo{
  width: 150px;
  position: relative;
  left: 40%;
}

/* Titolo */
.title {
 color: lime;
 position: relative;
 left: 27%;
 font-family: monospace;
}

/* Scelte e bottoni */
.choise{
 background-color: lime;
 margin-left: 100px;
 padding-right: 200px;
 padding-left: 200px;
 padding-top: 10px;
 padding-bottom: 10px;
 position: relative;
}

/* Monopattini */
.monopattinoG{
  margin-left: 100px;
  display: inline-block;
  margin-top: 25px;
}

.monopattinoM{
  margin-top: 25px;
}

.monopattinoF{
  margin-top: 25px;
}

/* Titolo monopattino */
.titleMono{
  font-size: 25px;
  font-family: monospace;
  color: white;
}

/* Descrizione monopattino */
.desMono{
  font-size: 18px;
  font-family: monospace;
  color: white;

}

/* Barre Carica */
.chargebarG{
  background-color: orange;
  width: 300px;
  height: 30px;
  border-radius: 5px;
}

.chargebarM{
  background-color: green;
  width: 500px;
  height: 30px;
  border-radius: 5px;
}

.chargebarF{
  background-color: red;
  width: 100px;
  height: 30px;
  border-radius: 5px;
}
